<!DOCTYPE html>
<html class="x-admin-sm">

  <head>
    <meta charset="UTF-8">
    <title>zues</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script>// 是否开启刷新记忆tab功能
      var is_remember = false;</script>
  </head>
  <body class="index">
    <div class="container">
      <div class="logo">
        <a href="./index.html">
          <img width='80' height='45.84' src="../../static/images/logo_block.png" />&nbsp;
          <span>ZUESDBMS</span></a>
      </div>
      <div class="left_open">
        <a>
          <i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
      </div>
      <ul class="layui-nav right" lay-filter="sub-menu">
        <li class="layui-nav-item">
          <a href="javascript:;">admin</a>
          <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd>
              <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>
            <dd>
              <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
            <dd>
              <a href="./login.html">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
          <li>
            <a href="javascript:;">
              <i class="iconfont left-nav-li" lay-tips="服务管理">&#xe723;</i>
              <cite>服务管理</cite>
              <i class="iconfont nav_right">&#xe697;</i></a>
            <ul class="sub-menu">
              <li>
                <a onclick="xadmin.add_tab('脚本管理','{% url 'register_script' %}')">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>服务注册</cite></a>
              </li>
              <li>
                <a onclick="xadmin.add_tab('脚本管理','{% url 'script_list' %}')">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>服务管理</cite></a>
              </li>
            </ul>
          </li>
        </ul>
        <ul id="nav">
          <li>
            <a href="javascript:;">
              <i class="iconfont left-nav-li" lay-tips="脚本管理">&#xe723;</i>
              <cite>脚本管理</cite>
              <i class="iconfont nav_right">&#xe697;</i></a>
            <ul class="sub-menu">
              <li>
                <a onclick="xadmin.add_tab('脚本注册','{% url 'register_script' %}')">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>脚本注册</cite></a>
              </li>
              <li>
                <a onclick="xadmin.add_tab('脚本列表','{% url 'script_list' %}')">
                  <i class="iconfont">&#xe6a7;</i>
                  <cite>脚本列表</cite></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-content">
      <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
          <li class="home">
            <i class="layui-icon">&#xe68e;</i>仪表盘</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
          <dl>
            <dd data-type="this">关闭当前</dd>
            <dd data-type="other">关闭其它</dd>
            <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">
            <iframe src="{% url 'welcome' %}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
          </div>
        </div>
        <div id="tab_show"></div>
      </div>
    </div>
    <div class="page-content-bg"></div>
    <style id="theme_style"></style>
  </body>

</html>