<!DOCTYPE html>
<html class="x-admin-sm">
<!--xxxxxx-->
  <head>
    <meta charset="UTF-8">
    <title>zues</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
  </head>

  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-body ">
              <form class="layui-form layui-col-space5">
                <div class="layui-input-inline layui-show-xs-block">
                  <input class="layui-input" placeholder="开始日" name="start" id="start"></div>
                <div class="layui-input-inline layui-show-xs-block">
                  <input class="layui-input" placeholder="截止日" name="end" id="end"></div>
                <div class="layui-input-inline layui-show-xs-block">
                  <select name="contrller">
                    <option>NONE</option>
                    <option>归档</option>
                    <option>备份</option>
                    <option>工具</option>
                    <option>ETL</option></select>
                </div>
                <div class="layui-input-inline layui-show-xs-block">
                  <input type="text" name="username" placeholder="请输入脚本ID" autocomplete="off" class="layui-input"></div>
                <div class="layui-input-inline layui-show-xs-block">
                  <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon">&#xe615;</i></button>
                </div>
              </form>
            </div>
            <div class="layui-card-body ">
              <table class="layui-table layui-form">
                <thead>
                  <tr>
                    <th>
                    <th>脚本ID</th>
                    <th>脚本名称</th>
                    <th>脚本类型</th>
                    <th>脚本环境</th>
                    <th>创建时间</th>
                    <th>操作</th></tr>
                </thead>
                <tbody>
                {% for scriptslist in reulstlist %}
                  <tr>
                    <td>
                      <input type="checkbox" name="" lay-skin="primary"></td>
                    <td>{{ scriptslist.script_id }}</td>
                    <td>{{ scriptslist.script_name }}</td>
                    {% if scriptslist.script_type == 1  %}
                      <td>归档</td>
                    {% elif scriptslist.script_type == 2 %}
                      <td>ETL</td>
                    {% elif scriptslist.script_type == 3 %}
                      <td>备份</td>
                     {% elif scriptslist.script_type == 4 %}
                      <td>工具</td>
                     {% endif %}
                    {% if scriptslist.script_env == 1 %}
                    <td>生产环境</td>
                    {% elif scriptslist.script_env == 2 %}
                    <td>预发布环境</td>
                    {% elif scriptslist.script_env == 3 %}
                    <td>测试环境</td>
                    {% endif %}
                    <td>{{ scriptslist.update_time }}</td>
                    <td class="td-manage">
                      <a title="详情" class="layui-btn layui-btn layui-btn-xs" onclick="xadmin.open('编辑','{% url 'script_details' script_id=scriptslist.script_id %}')" href="javascript:;">
                        <i class="layui-icon">&#xe63c;</i>详情</a>
                      <a title="编辑" class="layui-btn layui-btn layui-btn-xs" onclick="xadmin.open('编辑','{% url 'get_modify_script' script_id=scriptslist.script_id %}')" href="javascript:;">
                        <i class="layui-icon">&#xe63c;</i>编辑</a>
                      <a title="删除" class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this, {{scriptslist.script_id}})", href="javascript:;">
                        <i class="layui-icon">&#xe640;</i>删除</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="layui-card-body ">
              <div class="page">
                <div>
                    {% if reulstlist.has_previous %}
                        <a class="prev" href="?page={{reulstlist.previous_page_number}}">&lt;&lt;</a>
                    {% endif %}
                    {% for num in reulstlist.paginator.page_range %}
                        {% if num == reulstlist.number %}
                            <span class="num">{{ reulstlist.number }}</span>
                        {% else %}
                            <a href="?page={{ num }}" target="_self">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if reulstlist.has_next %}
                        <a class="next" href="?page={{ reulstlist.next_page_number }}">&gt;&gt;</a></div>
                    {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>layui.use(['laydate', 'form'],
function() {
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
        elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
        elem: '#end' //指定元素
    });
});

function member_del(obj, id) {
    var script_id = id
    layer.confirm('真的删除行么', function(index) {
        $.ajax({
            url: "{% url 'script_del'%}",
            type: "POST",
            data: {'scriptid': script_id},
            dataType: 'json',
            success: function(data) {
                if(data.data == 200){
                   layer.msg('已删除!', {icon: 1});
                   layer.closeAll()
                }else{
                    layer.msg('删除失败', {
                    icon: 1,
                    time: 1000
                });
                }
            },
            error:function(result){
                console.log(result)
            }
        });
        $(obj).parents("tr").remove();
    });
}
  </script>
</html>